/* 02-mixed-columns.css */

body {
  font-family: sans-serif;
  line-height: 1.5;
}

section {
  background-color: #ddd;
}

/* **************************************** */
/* DO NOT TOUCH ANY STYLES ABOVE THIS LINE! */
/* WRITE YOUR STYLES BELOW! 👇👇👇           */
/* **************************************** */

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
}

#c{
 grid-column-start: 3;
 grid-row-start: 1;
 grid-row-end: 3;
}
