@import url('https://fonts.googleapis.com/css2?family=Simonetta&family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

h1{
    font-family: "Waterfall";
    font-size: 120px;
    color: #ba1108;
    margin: 5px;
    padding: 1px;
}


h2{
    font-family: "Simonetta";
    font-size: 32px;
    color: #4f6112;
   
}

h3{
    color:#ffb208;
}

body{
    font-family: "Helvetica", "Arial", "sans-serif";
    color:black;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff4e5;
    text-align: justify;
}

h2{
    margin-top:0;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

header,
footer{
    padding-left: 20px;
}

main{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
}

section{
    padding:20px;
    background-color: #f7e8c1;
}

footer{
    grid-area: footer;
    margin-top: 32px;
}

#introduction{
    grid-column: 1 / -1
}

#geography{
    grid-column: 1;
    grid-row:2;
}

#peopleandsociety{
    grid-column: 2;
    grid-row: 2;
}

table
{
    border-top: 3px solid #ffb208;
    border-left: 3px solid #ffb208;
    border-collapse: collapse;
    margin-bottom: 32px;
}

td,
th{
    border-bottom: 3px solid #ffb208;
    border-right: 3px solid #ffb208;
    padding: 6px 6px;

}

ul > li{
    list-style-type: "🍕";
    line-height: 0.3in;
    
}

#map{
    margin-bottom: 0px;
}

#duomo{
    border: 1px solid #555;
  margin: 0;
  padding: 20px 20px 30px 20px;
  width: 350px;
  background-color:white;
  margin-bottom:32px;


}

#polaroid{
    font-family: "Shadows Into Light","Courier New";
    text-align: right;
    font-size: 25px;

}

#map{
    margin:0;
}

#flag{
    margin: 0;
}

    

#box{
    border: 3px solid #4f6112;
    width: 5x;
    height:200px;
    margin:5px;
    border-style: double;
    overflow: auto;
}

figcaption{
    margin-bottom: 30px;
}
