/* This is a comment! */

body{
    color:black;
    font-family: helvetica;
}

h1{
    color: maroon;
}

h2 {
    color: purple
}

h3{
    color: lightseagreen;
}


p,
li{
    line-height: 1.5;
}

footer{
    background-color: aquamarine;
}

nav{
    font-style: italic;
}
